# Summer Analytics 2022 - Basic Data Analysis

- ####  Welcome to your first assignment, on basic data analysis!
- #### This Assignment is ungraded



### 1) Import Pandas

In [ ]:
#your code here
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

Use the following dataset
https://github.com/justmarkham/pandas-videos/blob/master/data/u.user

In [ ]:
!git clone https://github.com/justmarkham/pandas-videos.git

fatal: destination path 'pandas-videos' already exists and is not an empty directory.

In [ ]:
#your code here
users='/content/pandas-videos/data/u.user'
read = pd.read_csv(users,sep='|')
read

       1  24  M     technician  85711
0      2  53  F          other  94043
1      3  23  M         writer  32067
2      4  24  M     technician  43537
3      5  33  F          other  15213
4      6  42  M      executive  98101
..   ...  .. ..            ...    ...
937  939  26  F        student  33319
938  940  32  M  administrator  02215
939  941  20  M        student  97229
940  942  48  F      librarian  78209
941  943  22  M        student  77841

[942 rows x 5 columns]

In [ ]:
read.set_index('85711')

         1  24  M     technician
85711
94043    2  53  F          other
32067    3  23  M         writer
43537    4  24  M     technician
15213    5  33  F          other
98101    6  42  M      executive
...    ...  .. ..            ...
33319  939  26  F        student
02215  940  32  M  administrator
97229  941  20  M        student
78209  942  48  F      librarian
77841  943  22  M        student

[942 rows x 4 columns]

### 3) Display the first 25 entries

In [ ]:
read.head(25)

     1  24  M     technician  85711
0    2  53  F          other  94043
1    3  23  M         writer  32067
2    4  24  M     technician  43537
3    5  33  F          other  15213
4    6  42  M      executive  98101
5    7  57  M  administrator  91344
6    8  36  M  administrator  05201
7    9  29  M        student  01002
8   10  53  M         lawyer  90703
9   11  39  F          other  30329
10  12  28  F          other  06405
11  13  47  M       educator  29206
12  14  45  M      scientist  55106
13  15  49  F       educator  97301
14  16  21  M  entertainment  10309
15  17  30  M     programmer  06355
16  18  35  F          other  37212
17  19  40  M      librarian  02138
18  20  42  F      homemaker  95660
19  21  26  M         writer  30068
20  22  25  M         writer  40206
21  23  30  F         artist  48197
22  24  21  F         artist  94533
23  25  39  M       engineer  55107
24  26  49  M       engineer  21044

### 4) Display the last 10 entries

In [ ]:
#your code here
read.tail(10)

       1  24  M     technician  85711
932  934  61  M       engineer  22902
933  935  42  M         doctor  66221
934  936  24  M          other  32789
935  937  48  M       educator  98072
936  938  38  F     technician  55038
937  939  26  F        student  33319
938  940  32  M  administrator  02215
939  941  20  M        student  97229
940  942  48  F      librarian  78209
941  943  22  M        student  77841

### 5) What is the number of observations in the dataset?

In [ ]:
#your code here
read.describe()

                1          24
count  942.000000  942.000000
mean   472.500000   34.062633
std    272.076276   12.194810
min      2.000000    7.000000
25%    237.250000   25.000000
50%    472.500000   31.000000
75%    707.750000   43.000000
max    943.000000   73.000000

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [ ]:
#your code here
read.shape[1]

5

In [ ]:
read.columns

Index(['1', '24', 'M', 'technician', '85711'], dtype='object')

### 7) What is the data type of each column?

In [ ]:
#your code here
read.dtypes

1              int64
24             int64
M             object
technician    object
85711         object
dtype: object

### 8) Print only the occupation column

In [ ]:
#your code here
read.technician

0              other
1             writer
2         technician
3              other
4          executive
           ...
937          student
938    administrator
939          student
940        librarian
941          student
Name: technician, Length: 942, dtype: object

### 9) How many different occupations are in this dataset?

In [ ]:
#your code here
read['technician'].nunique()

21

### 10) What is the most frequent occupation?

In [ ]:
#your code here
read['technician'].mode()

0    student
Name: technician, dtype: object

### 11) Summarize the DataFrame.

In [ ]:
#your code here
read.describe()

                1          24
count  942.000000  942.000000
mean   472.500000   34.062633
std    272.076276   12.194810
min      2.000000    7.000000
25%    237.250000   25.000000
50%    472.500000   31.000000
75%    707.750000   43.000000
max    943.000000   73.000000

### 12) Summarize only the occupation column

In [ ]:
#your code here
read['technician'].describe()

count         942
unique         21
top       student
freq          196
Name: technician, dtype: object

### 13) What is the mean age of users?

In [ ]:
#your code here
read['24'].mean()

34.06263269639066

### 14) What is the age with least occurrence?

In [ ]:
#your code here
s=read['24'].value_counts()
print(s.index[-1])

73